<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>The Title {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}
  <p><i [ngClass]="getTicketClass(ticket.major)"></i>&nbsp;{{ticket.major}}</p>
  <button class="btn-custom" (click)="archiveTicket(ticket)">Archive</button>
  <mat-icon>archive</mat-icon>
</div>
